.loader {
  width: 150px;
  height: 120px;
  position: relative;
  display: flex;
  justify-items: center;
  align-items: center;
}
.loader .cup {
  position: absolute;
  width: 38px;
  height: 27px;
  background-color: #fff;
  border: 1px solid #2e2e2e;
  z-index: 1;
  border-radius: 3px 3px 15px 15px;
  animation: expansion 6s infinite ease-in-out;
  transform-origin: center;
}

.loader .cup::after {
  content: "";
  position: absolute;
  top: -3px;
  width: calc(100% - 2px);
  height: 3px;
  background: #fed59fca;
  border: 1px solid #2e2e2ebe;
  border-radius: 50%;
}
.loader .cup::before {
  content: "";
  position: absolute;
  top: 23px;
  width: calc(100% - 2px);
  height: 6px;
  background: #ffffff00;
  border: 1px solid #2e2e2e;
  border-top: none;
  border-radius: 50%;
  z-index: -1;
}

.loader .cup .cup-handle {
  position: absolute;
  width: 8px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #2e2e2e;
  right: -8px;
  top: 3px;
  border-radius: 3px 15px 30px 3px;
}

.loader .cup .smoke {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 23px;
  height: 38px;
  background: rgba(107, 102, 102, 0.433);
  border-radius: 50%;
  transform: translateX(-50%);
  animation: rise 6s infinite ease-in-out;
  filter: blur(12px);
}

.loader .cup .smoke.one {
  animation-delay: 0s;
}
.loader .cup .smoke.two {
  animation-delay: 1s;
}
.loader .cup .smoke.three {
  animation-delay: 2s;
}

.loader .load {
  position: absolute;
  font-size: 15px;
  opacity: 0.7;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

@keyframes expansion {
  0% {
    width: 38px;
    transform: translateX(0);
  }
  40% {
    width: 100%;
    transform: translateX(0);
  }
  80% {
    width: 38px;
    transform: translateX(96px);
  }
  90% {
    width: 100%;
    transform: translateX(0);
  }
  100% {
    width: 38px;
    transform: translateX(0);
  }
}

@keyframes rise {
  0% {
    transform: translate(-50%, 0) scale(0.4);
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -180px) scale(1);
    opacity: 0;
  }
}